body, html {
	height: 100%;
	background-color: #1A2632;
	color: #00AB9A;
	font-size: 1em;
}

h3 {
	max-width: 100%;
}

.adventure-container {
	padding: 5px;
	margin: 5px;
	border: solid 2px;
	height: 500px;
	width: 100%;
}

.adventure-footer {
	padding: 15px;
	border: solid 2px;
	height: 20%;
}

.adventure-footer input {
	width: 100%;
}

.adventure-footer li {
	display: inline;
	padding-right: 10px;
}

.adventure-footer ul {
	padding: 0;
}

.adventure-inventory {
	height: 80%;
	padding: 25px;
	border: solid 2px;
}

.adventure-row {
	height: 100%;
}

.adventure-text {
	height: 80%;
	padding: 25px;
	border: solid 2px;
}

.adventure-title {
	text-align: center;
	margin: 0 auto 20px;
}

.form-group {
    margin: 20px;
}

.navbar {
	background-color: #1A2632;
	color: #00AB9A;
	border: 2px solid #00AB9A;
}

.navbar-nav>li>a {
	color: #00AB9A;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

pop {
	color: yellow;
}

.wrapper {
    margin: 30px;
}

