body, html {
	height: 100%;
	background-color: #222;
	color: #eee;
	font-size: 1.25em;
	text-transform: uppercase;
	text-align: center;
	font-family: 'VT323', monospace;
}

a {
	font-size: 1.5em;
}

h1 {
	margin: 10px 0;
}

h2 {
	margin: 0;
}

h3 {
	max-width: 100%;
}

.adventure-console {
	display: inline;
	float: right;
	font-size: 1.3em;
	text-align: center;
}

.adventure-container {
	min-width: 1200px;
	padding: 0;
	margin: 0 auto;
	height: 550px;
	width: 100%;
}

.adventure-footer {
	padding: 0;
	margin: 0;
	border: solid 5px;
	height: 25%;
}

.adventure-footer input {
	border-bottom: 1px solid yellow;
	-webkit-box-shadow: 0 1px 0 0 yellow;
	-moz-box-shadow: 0 1px 0 0 yellow;
	box-shadow: 0 1px 0 0 yellow;
	font-size: 1.5em !important;
	border: 0;
	padding: 0 15px;
	margin: 0 auto;
	height: 30%;
	width: 95%;
}

.adventure-footer input:focus {
	border-bottom: 1px solid yellow;
	-webkit-box-shadow: 0 1px 0 0 yellow;
	-moz-box-shadow: 0 1px 0 0 yellow;
	box-shadow: 0 1px 0 0 yellow;
}

.adventure-footer li {
	display: inline;
	padding-right: 10px;
}

.adventure-footer ul {
	text-align: center;
	height: 40%;
	padding: 0;
	padding-top: 10px;
	margin: 0;
}

.adventure-inventory {
	padding: 0;
	margin: 0;
	height: 80%;
	border: solid 5px;
}

.adventure-inventory li {
	font-size: 1.5em;
}

.adventure-list li {
	display: inline-block;
}

.adventure-row {
	height: 100%;
	padding: 0;
	margin: 0;
}

.adventure-text {
	height: 80%;
	padding: 25px;
	border: solid 5px;
}

.adventure-title {
	margin:0;
	margin-bottom: 20px;
	display: inline;
	text-align: left;
}

.col {
	padding: 0;
	margin: 0;
}

.form-group {
    margin: 20px;
}

.inventory {
	padding-bottom: 20px;
	border-bottom: solid 2px;
}

.navbar {
	background-color: #222;
	color: #eee;
	border: 2px solid #eee;
}

.navbar-nav h3 {
	margin: 0;
}

.navbar-nav>li>a {
	color: #eee;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

pop {
	color: yellow;
}

popG {
	color: lime;
}

.row {
	padding: 0;
	margin: 0;
}

.title-bar {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

.title-bar li {
	display: inline;
}

.wrapper {
    margin: 10px 30px;
}

