
<div ng-show="isGameOver">
<h3>Congratulations you have conquered</h3>
</div>

<ul class="title-bar">
	<li>
		<h3 class="adventure-title">{{gameObject.title}}</h3>
	</li>
	<li>
		<span id="aventureConsole" class="adventure-console">{{lastAction}}</span>
	</li>
</ul>

<div class="container adventure-container" ng-hide="isGameOver">
	
	<div class="row adventure-row">

		<div class="col l9 m9 adventure-text">
			<p>{{gameObject.roomText}}</p>
			<p ng-if="gameObject.roomItem.name">You see a <pop>{{gameObject.roomItem.name}}</pop>. {{gameObject.roomItem.description}}</p>
			<p ng-if="gameObject.roomInteractive.name">You can interact with a <popG>{{gameObject.roomInteractive.name}}</popG>.. {{gameObject.roomInteractive.description}}</p>
			<p>You see exits to the: <pop>{{gameObject.exits}}</pop>.</p>
		</div>

		<div class="col l3 m3 adventure-inventory">
			<h3 class="inventory">Inventory</h3>
			<ul>
				<li ng-repeat="item in gameObject.inventory">
					<pop>{{item.name}}</pop>
				</li>
			</oul>
		</div>

		<div class="adventure-footer col l12 m12">
			<ul>
				<li>
					<pop>COMMANDS:</pop>&nbsp;
				</li>
				<li> 
					<pop>MOVE</pop> (<pop>N</pop>)orth, (<pop>S</pop>)outh, (<pop>E</pop>)ast, (<pop>W</pop>)est |
				</li>
				<li>
					<pop>TAKE</pop> (item name) |
				</li>
				<li>
					<pop>USE</pop> (item name) <pop>ON</pop> (interactive name)
				</li>
			</ul>

			<input id="userInputBox" class="adventure-input" ng-keypress="handleUserInput($event)" ng-model="userInput" />
		</div>
	</div>

</div>

<div ng-show="isGameOver">
<p><a href="/#/home">Return to Home</a></p>
</div>