<h2 class="adventure-title">{{gameObject.title}}</h2>

<div class="container adventure-container">
	
	<div class="row adventure-row">

		<div class="col l9 m9 adventure-text">
			<p>{{gameObject.roomText}}</p>
			<p ng-if="gameObject.roomItem.name">You see a <pop>{{gameObject.roomItem.name}}</pop>. {{gameObject.roomItem.description}}</p>
			<p ng-if="gameObject.roomInteractive.name">You can interact with a <pop>{{gameObject.roomInteractive.name}}</pop>.. {{gameObject.roomInteractive.description}}</p>
			<p>You see exits to the: {{gameObject.exits}}.</p>
		</div>

		<div class="col l3 m3 adventure-inventory">
			<h3 class="inventory">Inventory</h3>
			<ul>
				<li ng-repeat="item in gameObject.inventory">
					<pop>{{item.name}}</pop>
				</li>
		</div>

		<div class="adventure-footer col l12 m12">
			<ul>
				<li> 
					<pop>MOVE</pop> (<pop>N</pop>)orth, (<pop>S</pop>)outh, (<pop>E</pop>)ast, (<pop>W</pop>)est |
				</li>
				<li>
					<pop>TAKE</pop> (item name) |
				</li>
				<li>
					<pop>USE</pop> (item name) <pop>ON</pop> (interactive name)
				</li>
			</ul>

			<input id="userInputBox" class="adventure-input" ng-keypress="handleUserInput($event)" ng-model="userInput">
		</div>
	</div>

</div>